body{
    color: blanchedalmond;
    background-color: rgb(31, 36, 31);
    
}
.dashboard {
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-gap: 20px;
    padding: 15px;
}


.slider{
    width: 100%;
    height: 7px;
}

.slider-labels{
    display: flex;
    justify-content: space-between;
}

.dropdown{
    display: flex;
    width: 100px;
    height: 40px;
    color: blanchedalmond;
    border-color: blanchedalmond;
    background-color: rgb(36, 46, 36);
}

#map { 
    height: 500px; 
}

.indicators{
    display: flex;
}

.indicator{
    background-color: rgb(34, 35, 35);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}