html{
  overflow-x: hidden;
}
/* ===== GLOBAL COLORS ===== */
:root {
    --bg-light: #f2f2f2;
    --card-bg: #e0e6e9;
    --header-bg: #2b2b2b;
    --green-accent: #1e6f5c;
    --orange-accent: #e9791a;
    --red-accent: #c1440e;
    --text-dark: #1A1A1A;
    --text-med: #333;
}
body{
    color: var(--text-dark);
    background-color: var(--bg-light);;
    margin: 0px;
    padding: 0px;
    font-family:  Sans, Arial, sans-serif;
}


header{
    background-color: var(--header-bg);
    padding: 15px 15px;
}

h1{
    margin: auto;
    color: rgb(255, 255, 255);
    font-family: Rethink Sans, sans-serif;
    letter-spacing: -1.5px;
}

.dashboard {
    display: grid;
    grid-template-columns: 300px 1fr 350px;
    grid-gap: 10px;
    padding: 10px;
}

.left, .right, .middle{
    display: flex;
    flex-direction: column;
}


.card{
    flex-grow: 1;
    background-color: var(--card-bg);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.card:hover {
    background-color: #e9791a;
}

/* ===== FILTERS ===== */

.slider{
    width: 100%;
    accent-color: var(--green-accent);
}

.slider-labels{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.dropdown{
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid var(--green-accent);
    border-radius: 5px;
}

#map { 
    height: 500px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.indicators{
    display: flex;
    gap: 10px;
    flex-grow: 1;
    
}

.indicators h2{
    font-size:xx-large;
}

.indicators, .card{
    flex: 1;
}


footer{
    color: var(--card-bg);
    background-color: var(--header-bg);
    text-align: right;
    padding: 15px;
}


/* --- RESPONSIVE --- */
@media (max-width: 1100px) {
    .dashboard {
        grid-template-columns: 300px 1fr;
    }
    .right {
        grid-column: 1 / -1;
    }
}

@media (max-width: 600px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
    .left{
        order: 1;
    }
    .middle {
        order: 2;
        width: 100%;
    }
    .right {
        order: 3;
    }
    
    .indicators {
        flex-direction: column;
    }
}

.key-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 8px 0;
}

.color-box {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    display: inline-block;
}